*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 40px;
    padding: 30px 0;
    font-weight: 300;
}
h2{
    font-size: 27px;
    font-weight: 150;
}
h4{
    width: 80%;
    font-weight: 200;
    text-align: center;
}
h5{
    font-weight: 100;
}
p{
    margin-top: 15px;
    font-weight: 70;
    font-size: 12px;
}
body{
    min-height: 100vh;
    font-family: 'Open Sans', 'Roboto', 'Arial';
}
nav{
    background-color: wheat;
}

nav ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
nav li{
    height: 60px;
}
nav ul li i{
    font-size: 30px;
    cursor: pointer;
}
nav a {
    height: 100%;
    text-decoration: none;
    display: flex;
    padding: 0px 30px;
    color:black;
    font-weight: 200;
    cursor: pointer;
    align-items: center;
}
nav a:hover{
    background-color: #e5d1ab;
}
nav li:first-child{
    margin-right: auto;
    background-color: none;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 5;
    background-color: #D2B48C;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    cursor: pointer;
}
.sidebar a{
    width: 100%;
}

@media(max-width:600px){
    .hideSmallDisplay{
        display: none;
    }
}
@media(min-width:600px){
    .hideBigDisplay{
        display: none;
    }
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.logo img{
    height: 300px;
    width: auto;
    border-radius: 60%;
}
.main{
    margin-top: 40px;
    margin-left: 25px;
    max-width: 1000px;
    line-height: 1.6;
    margin: 0 auto;
}
.main img{
    height: 300px;
    margin: 20px 0;
}


.copyright{
    margin: 5px;
    text-align: center;
}